<calendar class="@Class">
    <MonthNavigation @bind-SelectedMonthStartDate="SelectedMonthStartDate" />
    <div class="calendar__days-grid">
        @foreach (var day in Days) {
            <CalendarDayCell Class="@("calendar__days-button".AddWordIf(IsAnotherMonth(day), "calendar__days-button_another-month"))"
                Date="day"
                IsSelected="day.Date == Date.Date"
                IsSelectedChanged="() => HandleDateSelected(day)" />
        }
    </div>
</calendar>
@code {
    [Parameter] public DateTime Date { get; set; }
    [Parameter] public EventCallback<DateTime> OnSelected { get; set; }
    DateTime SelectedMonthStartDate { get; set; }

    public IEnumerable<DateTime> Days => SelectedMonthStartDate.GetDaysWithinWeeks(weeksCount: 6);

    private DateTime CurrentMonth => new(SelectedMonthStartDate.Year, SelectedMonthStartDate.Month, 1);

    private bool IsAnotherMonth(DateTime day) => day.Month != CurrentMonth.Month || day.Year != CurrentMonth.Year;

    void HandleDateSelected(DateTime date) => OnSelected.InvokeAsync(date);

    protected override void
    OnParametersSet() {
        base.OnParametersSet();
        SelectedMonthStartDate = new DateTime(Date.Year, Date.Month, 1);
    }

}
