@*лишняя обертка обязательна, в H2N сделано без этого и не смогли соблюсти пропорции и размеры из фигмы*@
<div class="calendar-grid__cell">
    <button class="@Class @IsSelected.T("calendar__days-button_selected")"
            @onclick="HandleClick">
        @Date.Day
    </button>
</div>
@code {
    [Parameter] public DateTime Date { get; set; }
    [Parameter] public bool IsSelected { get; set; }
    [Parameter] public EventCallback IsSelectedChanged { get; set; }


    private async void HandleClick() {
        if (IsSelected) return;
        await IsSelectedChanged.InvokeAsync(Date);
    }
}
