
<calendar-select-box class="calendar-select">
    <button class="calendar-select__toggle" @onclick="TogglePopup">
        <span class="calendar-select__text">@Date.ToString("dd MMM yyyy", CultureInfo.InvariantCulture)</span>
        <Icon Value="IconsEnum.ChevronDown" />
    </button>

    @if (IsPopupOpened) {
        <CalendarView 
            Date="@Date"
            DateChanged="@DateChangedHandler" />
    }
</calendar-select-box>

@code {
    [Parameter] public DateTime Date { get; set; }
    [Parameter] public EventCallback<DateTime> DateChanged { get; set; }

    private bool IsPopupOpened { get; set; }
    private void TogglePopup() => IsPopupOpened = !IsPopupOpened;

    //По правилам тут должен быть не void, a Task
    private async void DateChangedHandler(DateTime newDate) {
        Date = newDate;
        await DateChanged.InvokeAsync(newDate);
    }
}

