@page "/"
@using System.Globalization
@using CalendarApp.Pages

<div class="project-container">
    <div class="calendar-column">
        <DropdownButton />
        <div class="calendar-container">
            <FilterButtonsGroup />
            <MonthNavigation />
            <Cells />
        </div>
    </div>
</div>
@code {

}
