@inject CalendarState State
@implements IDisposable
 
<div class="calendar-days-wrapper">
        @foreach (var cell in CellsList)
        {
          <div class="calendar-cell">
            <DayCell @key="cell" Date="cell" CurrentMonth="CurrentMonth"/>
          </div>
        }
      </div>

@code {
    private DateTime CurrentMonth;
    private List<DateTime> CellsList = new(); 
    public enum WeekDay {
        Monday = 1,
        Tuesday,
        Wednesday,
        Thursday,
        Friday,
        Saturday,
        Sunday
    }

    protected override void OnInitialized() {
        State.OnChange += OnStateChanged;
        CurrentMonth = new DateTime(DateTime.Today.Year, DateTime.Today.Month, 1);
        GenerateCells();
    }

    private void
    OnStateChanged() {
        var newMonth = new DateTime(State.SelectedDate.Year, State.SelectedDate.Month, 1);
        if (newMonth != CurrentMonth) {
            CurrentMonth = newMonth;
            GenerateCells();
        }
       // State.OnChange += StateHasChanged; - нельзя, т.к. будет кольцевая зависимость
       InvokeAsync(StateHasChanged);
    }

    private void GenerateCells() {
        CellsList.Clear();
        var firstDayOfMonth = new DateTime(CurrentMonth.Year, CurrentMonth.Month, 1);

        WeekDay firstWeekDay = firstDayOfMonth.DayOfWeek switch {
            DayOfWeek.Monday => WeekDay.Monday,
            DayOfWeek.Tuesday => WeekDay.Tuesday,
            DayOfWeek.Wednesday => WeekDay.Wednesday,
            DayOfWeek.Thursday => WeekDay.Thursday,
            DayOfWeek.Friday => WeekDay.Friday,
            DayOfWeek.Saturday => WeekDay.Saturday,
            DayOfWeek.Sunday => WeekDay.Sunday,
            _ => throw new ArgumentOutOfRangeException()
        };
        // Считаем сдвиг, чтобы сетка начиналась с понедельника
        int startOffset = (int)firstWeekDay - 1; // понедельник = 1 -> offset=0
        var startDate = firstDayOfMonth.AddDays(-startOffset);

        //42 cells
        int totalCells = 7 * 6;

        for (int i = 0; i < totalCells; i++) {
            CellsList.Add(startDate.AddDays(i));
        }
    }

    public void Dispose() {
        State.OnChange -= OnStateChanged;
    }
}
