@using System.Globalization
@using CalendarApp.Pages

<div class="project-container">
  <div class="calendar-column">

    <div class="calendar-select">
      <button class="today-dropdown" type="button" @onclick="TogglePopup">
        <span class="today-text">@Date.ToString("MMMM dd yyyy", CultureInfo.InvariantCulture)</span>
        <svg class="icon icon-caret dropdown-arrow" width="7" height="5">
          <use href="/images/icons-sprite.svg#icon-caret"></use>
        </svg>
      </button>

      @if (IsPopupOpened)
      {
        <div class="calendar-container calendar-popup">
          <FilterButtonsGroup />
          <MonthNavigation />
          <Cells />
        </div>
      }
    </div>

  </div>
</div>

@code {
  [Parameter] public DateTime Date { get; set; }
  [Parameter] public EventCallback<DateTime> DateChanged { get; set; }

  private bool IsPopupOpened { get; set; }
  private void TogglePopup() => IsPopupOpened = !IsPopupOpened;

  private async Task DateChangedHandler(DateTime newDate) {
    Date = newDate;
    await DateChanged.InvokeAsync(newDate);
  }
}