<div class="filter-buttons-wrapper">
    @foreach (var filter in filters) {
        <FilterButton CssClass="@filter.CssClass" FilterName="@filter.Name" />
    }
  </div>

@code {
    private readonly (string CssClass, string Name)[] filters = new[] {
        ("filter-btn-today", "Today"),
        ("filter-btn-yesterday", "Yesterday"),
        ("filter-btn-weekago", "Week Ago"),
        ("filter-btn-monthago", "Month Ago")
    };
}
