@inject CalendarState State

<button class="filter-btn-frame @CssClass"
type="button" onclick="@(() => OnClick())">
    <span class="filter-btn-text">@FilterName</span>
</button>

@code {
    [Parameter]
    public string FilterName{ get; set; } = "Today";
    [Parameter]
    public string CssClass { get; set; } = "filter-btn-today";

    private void
    OnClick() {
        var date = FilterName switch{
            "Today" => DateTime.Today,
            "Yesterday" => DateTime.Today.AddDays(-1),
            "Week Ago" => DateTime.Today.AddDays(-7),
            "Month Ago" => DateTime.Today.AddMonths(-1),
            _ => DateTime.Today
        };
        State.SetDate(date);
    }    

}
