/* Month navigation */
.month-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 13.5px;
    margin-bottom: 14.5px;
    padding-left: calc(31px - var(--calendar-padding-x)); /* 18px */
    padding-right: calc(21px - var(--calendar-padding-x)); /* 8px */
    height: 21px;
}

    .month-navigation > .nav-left,
    .month-navigation > .nav-right {
        display: flex;
        align-items: center;
        gap: 13px;
    }

    .month-navigation > .month-title {
        flex: 1 1 auto; /* занимает всё доступное пространство между кнопками flex-grow: 1;flex-shrink: 1;flex-basis: auto;*/
        text-align: center;
        font-family: 'Segoe UI', sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 21px;
        color: #FFFFFF;
    }

.nav-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    background: transparent;
    line-height: 0; /* чтобы svg не сдвигался */
    cursor: pointer;
}

    .nav-btn svg {
        display: block;
    }
