<div class="month-navigation">
    <div class="nav-left">
        <NavigationButton IconClass="icon-double-left" Width="11" Height="8"
                   IconHref="/images/icons-sprite.svg#icon-double-left"
                   AdditionalClass="nav-start"
                   OnClick="() => GoToStartYear()" />

        <NavigationButton IconClass="icon-left" Width="5" Height="7"
                   IconHref="/images/icons-sprite.svg#icon-left"
                   AdditionalClass="nav-prev"
                   OnClick="GoToPreviousMonth" />
    </div>

    <div class="month-title">@SelectedMonthStartDate.ToString("MMMM yyyy", System.Globalization.CultureInfo.InvariantCulture)</div>

    <div class="nav-right">
        <NavigationButton IconHref="/images/icons-sprite.svg#icon-right"
                   IconClass="icon-right"
                   Width="5" Height="7"
                   AdditionalClass="nav-next"
                   OnClick="GoToNextMonth" />

        <NavigationButton IconHref="/images/icons-sprite.svg#icon-double-right"
                   IconClass="icon-double-right"
                   Width="11" Height="8"
                   AdditionalClass="nav-end"
                   OnClick="GoToEndYear" />
    </div>
</div>
@code {
    [Parameter] public DateTime SelectedMonthStartDate { get; set; }
    [Parameter] public EventCallback<DateTime> SelectedMonthStartDateChanged { get; set; }

    private async Task HandleMonthChanged(DateTime monthStartDate)
    {
        SelectedMonthStartDate = monthStartDate;
        await SelectedMonthStartDateChanged.InvokeAsync(monthStartDate);
    }

    private Task GoToPreviousMonth() => HandleMonthChanged(SelectedMonthStartDate.AddMonths(-1));

    private Task GoToNextMonth() => HandleMonthChanged(SelectedMonthStartDate.AddMonths(1));

    private Task GoToStartYear()
    {
        var thisYearStart = new DateTime(SelectedMonthStartDate.Year, 1, 1);
        if (SelectedMonthStartDate.Date == thisYearStart.Date)
        {
            thisYearStart = thisYearStart.AddYears(-1);
        }

        return HandleMonthChanged(thisYearStart);
    }

    private Task GoToEndYear()
    {
        var endYear = new DateTime(SelectedMonthStartDate.Year, 12, 1);
        if (SelectedMonthStartDate.Date == endYear.Date)
        {
            endYear = endYear.AddYears(1);
        }

        return HandleMonthChanged(endYear);
    }
}
