/* Scoped styles for NavButton component */
.nav-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    background: transparent;
    line-height: 0; /* чтобы svg не сдвигался */
    cursor: pointer;
}

.nav-btn svg {
    display: block;
  }

