
:root {
    --color-background: #2C2C2C;
    --color-container-bg: #2B2B2B;
    --color-black: #000000;
    --color-text: rgba(255, 255, 255, 0.75);
    --color-border: rgba(255, 255, 255, 0.2);
    --color-border-active: rgba(255, 255, 255, 0.5);
    --text-col: 17px;
    --text-row: 22px;
    --column-gap-x: 30px;
    --column-gap-y: 8px;
    --calendar-days-width: 299px;
    --calendar-width: 324px;
    --active-size: 28px;
    --day-radius: 4px;
    --active-day-bg: #00A961;
    --border-radius-small: 4px;
    --calendar-padding-x: 12px;
    --calendar-padding-top: 8px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: "Segoe UI", system-ui, -apple-system, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
}

body {
    background-color: var( --color-background);
    color: var(--color-text);
}

.project-container {
    display: flex;
    justify-content: center;
    padding:24px;
   }

.calendar-select-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: var(--calendar-width);
}


.calendar-select__toggle {
    min-width: 181px;
    min-height: 28px;
    background: var(--color-black);
    border: 0.5px solid var(--color-border-active);
    border-radius: var(--border-radius-small);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 11px 0 10px;
    cursor: pointer;
}



.calendar-select__text {
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: var(--color-text);
}

.calendar{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    width: var(--calendar-width);
    min-height: 236px;
    margin-top: 2.5px;
    padding: var(--calendar-padding-top) var(--calendar-padding-x) 20.5px;
    background: var(--color-container-bg);
    box-shadow: 0 12px 25px rgba(0,0,0,0.55);
    border-radius: var(--border-radius-small);

}

.calendar__days-grid{
display: grid;
grid-template-columns: repeat(7, var(--text-col));
grid-auto-rows: var(--text-row);
column-gap: var(--column-gap-x);
row-gap: var(--column-gap-y);
width: var(--calendar-days-width);
height: 172px;
justify-items: center;
align-items: center;
}

.calendar-grid__cell {
    position: relative;
    width: var(--text-col);
    height: var(--text-row);
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar__days-button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: var(--active-size);
    height: var(--active-size);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    background: transparent;
    border-radius: var(--day-radius);
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: rgba(255, 255, 255, 0.75);
    cursor: pointer;
    z-index: 2;
}

.calendar__days-button_selected {
background: var(--active-day-bg);
color: #ffffff;
}

.calendar__days-button_another-month{
color: rgba(255, 255, 255, 0.2);
background: transparent;
}



.month-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 14.5px;
    height: 21px;
}

    .month-navigation > .month-navigation__left,
    .month-navigation > .month-navigation__right {
        display: flex;
        align-items: center;
        gap: 13px;
    }

    .month-navigation > .month-navigation__title {

        text-align: center;
        font-weight: 600;
        font-size: 16px;
        line-height: 21px;
        color: #FFFFFF;
    }

.month-navigation__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    background: transparent;
    line-height: 0;
    cursor: pointer;
}

    
.page {
   }

main {
   }

 main > article {
           }

#app {
    min-height: 100vh;
}
