
:root {
    --color-background: #2C2C2C;
    --color-container-bg: #2B2B2B;
    --color-black: #000000;
    --color-text: rgba(255, 255, 255, 0.75);
    --color-border: rgba(255, 255, 255, 0.2);
    --color-border-active: rgba(255, 255, 255, 0.5);
    --text-column: 17px;
    --text-row: 22px;
    --column-gap-x: 30px;
    --column-gap-y: 8px;
    --calendar-days-width: 299px;
    --calendar-days-height: 172px;
    --calendar-width: 324px;
    --calendar-height: 236px;
    --active-size: 28px;
    --day-radius: 4px;
    --active-day-bg: #00A961;
    --border-radius-small: 4px;
    --calendar-padding-x: 12px;
    --calendar-padding-top: 8px;
    --calendar-padding-bottom: 20.5px;
    --dropdown-width: 181px;
    --dropdown-height: 28px;
    --spacing-calendar-gap: 2.5px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
       font-family: "Segoe UI", system-ui, -apple-system, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
}

body {
    background-color: var( --color-background);
    color: var(--color-text);
}

#app {
    min-height: 100vh;
}
